/* Global */
* {
    font-family: "Montserrat", sans-serif;
}

/* Sections */
body {
    margin: 0;
    padding: 48px;
}

header {
    padding: 12px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: 204px 1fr;
    gap: 24px;
}

/* Classes */
.logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.job-form {
    padding: 12px 48px;
    margin-bottom: 48px;
}

.listing {
    padding: 12px 24px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 120px 120px 72px;
    align-items: center;
    gap: 24px;
    border: 2px solid black;
    border-radius: 6px;
}

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.reactions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* Elements */
.logo img {
    width: 96px;
    height: 96px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    /* text-transform: uppercase; */
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
